Repository ikigai-digital/github-templates, pull requests merged in 2022-11, with the labels that each got.

#2 PP-000: Create GHA to manage AWS resources
  .github/workflows/apply.yaml
  .github/workflows/plan.yaml
  README.md
  terraform/backend.tf
  terraform/backends/accelerator-ae.tfvars
  terraform/outputs.tf
  terraform/provider.tf
  terraform/variables.tf
Labels: minor, github-config-change, documentation-change

#3 PP-000: Correcting GHA AWS user
  .github/workflows/apply.yaml
Labels: minor

#5 AE-53 Fix typo
  .github/workflows/docker-to-jfrog.yml
Labels: github-config-change
